<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>GS - Groceries</title>

    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link th:href="@{/styles/style.css}" rel="stylesheet">

</head>
<body>

<div th:replace="~{fragments/navbarFragment}"></div>

<div class="container">

    <div class="text-center pt-5 pb-5">
        <h2> Groceries </h2>
    </div>

</div>

<!-- Form for adding groceries-->

<div class="container">

    <div class="collapse-and-search-container align-content-center">
        <button class="btn btn-primary my-button" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            New Grocery
        </button>
        <form class="form-inline">
            <input class="form-control mr-sm-2 search-bar" type="search" placeholder="Search Grocery" aria-label="Search">
            <button class="btn my-2 my-sm-0 my-button" type="submit">Search</button>
        </form>
    </div>

    <div class="collapse pt-2" id="collapseExample">
        <div class="form-container">

            <form th:object="${grocery}" th:action="@{groceries/add}" method="post">
                <div class="form-group">
                    <label for="groceryName">Grocery Name</label>
                    <input required type="text" th:field="*{name}" class="form-control" id="groceryName"
                           placeholder="Enter name of Grocery">
                </div>
                <div class="form-group">
                    <label for="brandName">Brand Name</label>
                    <select required class="form-control" th:field="*{brand}" id="brandName">
                        <option th:each="brand : ${brands}" th:value="${brand.id}" th:text="${brand.getName()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="storeName">Store name</label>
                    <select required class="form-control" th:field="*{store}" id="storeName">
                        <option th:each="store : ${stores}" th:value="${store.id}" th:text="${store.getName()}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <label for="price">Price</label>
                    <input required type="number" th:field="*{price}" step="0.01" class="form-control" id="price"
                           placeholder="e.g. 2,00">
                </div>
                <div class="form-group">
                    <label for="quantity">Quantity</label>
                    <input required type="text" th:field="*{quantity}" class="form-control" id="quantity"
                           placeholder="e.g. 200g">
                </div>
                <div class="form-group">
                    <label for="lastBought">Last bought</label>
                    <input type="date" th:field="*{lastBought}"
                           th:value="${#dates.format(#dates.createToday(), 'dd.MM.yyyy')}"
                           class="form-control" id="lastBought">
                    <small id="lastBoughtHelp" class="form-text text-muted small-info-text">Leave blank for today's date</small>
                </div>
                <button type="submit" class="btn btn-primary my-button">Add Grocery</button>
            </form>

        </div>
    </div>



</div>

<!-- Table for displaying groceries -->

<table class="table table-striped table-hover my-table">
    <thead>
    <tr class="text-center">
        <th> ID </th>
        <th> Grocery</th>
        <th> Brand</th>
        <th> Store</th>
        <th> Price</th>
        <th> Quantity</th>
        <th> last bought</th>
        <th> Edit</th>
        <th> Delete</th>
    </tr>
    </thead>
    <tbody>
    <tr th:if="${groceries.isEmpty()}">
        <td colspan="2"> No Groceries Available</td>
    </tr>
    <tr th:each="grocery : ${groceries}" class="text-center">
        <td><span class="center-text" th:text="${grocery.getId()}"> id </span></td>
        <td><span th:text="${grocery.getName()}" th:name="groceryName"> name </span></td>
        <td><span th:text="${grocery.getBrand().getName()}"> brand_name </span></td>
        <td><span th:text="${grocery.getStore().getName()}"> Store </span></td>
        <td><span th:text="${grocery.getPrice()} + '€'"> price </span></td>
        <td><span th:text="${grocery.getQuantity()}"> quantity </span></td>
        <td><span th:text="${grocery.getLastBought()}"> last_bought </span></td>
        <td>
            <!-- Button trigger modal for edit a grocery -->
            <button type="button" class="btn btn-primary my-button" data-toggle="modal"
                    th:attr="data-target='#editModalCenter' + *{grocery.getId()}">
                Edit
            </button>

            <!-- Modal EDIT GROCERY -->
            <div class="modal fade" th:id="*{'editModalCenter' + grocery.getId()}"
                 tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">

                <form th:action="@{groceries/edit}" method="post">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="exampleModalCenterTitle" th:text="'Edit ' + ${grocery.getName()}"></h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <form th:object="${grocery}">
                                    <div class="form-group">
                                        <label for="groceryIdEdit">Grocery ID</label>
                                        <input type="number" readonly th:value="*{getId()}" name="groceryId" contenteditable="false" class="form-control"
                                               id="groceryIdEdit">
                                    </div>
                                    <div class="form-group">
                                        <label for="groceryNameEdit">Grocery Name</label>
                                        <input type="text" th:value="*{getName()}" name="groceryName" class="form-control"
                                               id="groceryNameEdit">
                                    </div>
                                    <div class="form-group">
                                        <label for="brandNameEdit">Brand Name</label>
                                        <select required class="form-control" name="groceryBrandId" id="brandNameEdit">
                                            <option th:each="brand : ${brands}" th:value="${brand.id}"
                                                    th:text="${brand.getName()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="storeNameEdit">Store name</label>
                                        <select required class="form-control" name="groceryStoreId" id="storeNameEdit">
                                            <option th:each="store : ${stores}" th:value="${store.id}"
                                                    th:text="${store.getName()}"></option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="priceEdit">Price</label>
                                        <input required type="number" name="groceryPrice" th:value="${grocery.getPrice()}" step="0.01" class="form-control"
                                               id="priceEdit"
                                               placeholder="Enter price">
                                    </div>
                                    <div class="form-group">
                                        <label for="quantityEdit">Quantity</label>
                                        <input required type="text" name="groceryQuantity" th:value="${grocery.getQuantity()}" class="form-control"
                                               id="quantityEdit"
                                               placeholder="Enter quantity">
                                    </div>
                                    <div class="form-group">
                                        <label for="lastBoughtEdit">Last bought</label>
                                        <input type="date" name="groceryLastBought"
                                               th:value="${grocery.getLastBought()}"
                                               class="form-control" id="lastBoughtEdit">
                                        <small id="emailHelpEdit" class="form-text text-muted small-info-text">Leave blank for
                                            today's date</small>
                                    </div>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary my-button">Save changes</button>
                                <button type="button" class="btn btn-secondary my-button" data-dismiss="modal">Close</button>
                            </div>
                        </div>
                    </div>
                </form>


            </div>
        </td>
        <td>
            <!-- Button trigger modal for deleting Grocery -->
            <button type="button" class="btn btn-primary my-button" data-toggle="modal"
                    th:attr="data-target='#exampleModalCenter' + *{grocery.getId()}">
                Delete
            </button>

            <!-- Modal DELETE GROCERY -->
            <div class="modal fade" th:id="*{'exampleModalCenter' + grocery.getId()}" tabindex="-1" role="dialog"
                 aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">Warning</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <p th:text=" 'Do you want to delete (' + ${grocery.getName()} + ')?'"></p>
                        </div>
                        <div class="modal-footer">
                            <form th:action="@{groceries/delete/{id}(id = ${grocery.getId()})}">
                                <button type="submit" class="btn btn-primary">Delete</button>
                                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                            </form>

                        </div>
                    </div>
                </div>
            </div>

        </td>

    </tr>
    </tbody>
</table>

<div th:replace="~{fragments/cssScriptFragment}"></div>

</body>

</html>