body {
    background-color: #233f49;
    color: #ffffff;
}

.header {
    background-color: #172a30;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: white 0px 0px 2px;
}

.header_link {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 12px;
    margin-right: 12px;
    text-decoration: none;
}

.header_link:link {
    text-decoration: none;
}

.header_link:hover {
    color: #5b9bb2;
    cursor: pointer;
    text-decoration: none;
}

.header_link:active {
    text-decoration: none;
}

a {
    color: inherit;
    text-decoration: none;
    font-size: large;
}

a:link {
    text-decoration: none;
}

a:hover {
    color: #5b9bb2;
    cursor: pointer;
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.form-container {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.submit-button {
    background-color: darkslategray;
    border-color: transparent;
}

.edit-button {
    background-color: #588f8f;
    border-color: transparent;
}

.submit-button:hover {
    background-color: #5b9bb2;
    border-color: transparent;
    cursor: pointer;
}

.edit-button:hover {
    background-color: #5b9bb2;
    border-color: transparent;
    cursor: pointer;
}

.submit-button:focus {
    background-color: #5b9bb2;
    border-color: transparent;
}

.edit-button:focus {
    background-color: #406969;
    border-color: transparent;
}

.submit-button:active {
    background-color: #5b9bb2;
    border-color: transparent;
}

.edit-button:active {
    background-color: #406969;
    border-color: transparent;
}




.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: #5b9bb2;
}

.groceryTable {
    width: 80%;
    padding-top: 32px;
    margin-top: 32px;
    background-color: darkslategray;
    margin-left: auto;
    margin-right: auto;
    color: white;
}