body {
    background-color: #233f49;
    color: #ffffff;
}

.header {
    background-color: #172a30;
    color: #ffffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    box-shadow: white 0px 0px 2px;
}

.header_link {
    padding-left: 8px;
    padding-right: 8px;
    margin-left: 12px;
    margin-right: 12px;
}

.header_link:hover {
    color: #5b9bb2;
    cursor: pointer;
}

a { color: inherit; }

.table-hover tbody tr:hover td, .table-hover tbody tr:hover th {
    background-color: white;
}

.groceryTable {
    width: 80%;
    padding-top: 32px;
    margin-top: 32px;
    background-color: darkslategray;
    margin-left: auto;
    margin-right: auto;
    color: white;
}